@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

*, *::before, *::after {
    font-family: 'Geist', sans-serif;
}

body {
    overflow-x: hidden;
}

.container {
    max-width: 1180px !important;
}
