---
import { Image } from "astro:assets";
import me from "../../assets/me.png";

const projects = [
    {
        id: 1,
        image: "/w1.png",
        title: "Health Care",
    },
    {
        id: 2,
        image: "/w5.png",
        title: "Doctor",
    },
    {
        id: 3,
        image: "/w3.png",
        title: "Flight Booking",
    },
    {
        id: 4,
        image: "/w4.png",
        title: "Education",
    },
];
---

<div class="px-4 mb-10">
    <div class="flex flex-col items-center w-full">
        <p
            class="px-2 py-.5 mt-5 border-gray-400 font-medium rounded-3xl text-center border w-fit"
        >
            Our Work
        </p>
        <h1 class="mt-5 font-bold text-3xl md:text-5xl">Latest Projects</h1>
    </div>
    <div class="grid grid-cols-2 gap-5 w-full">
        {
            projects.map((item) => {
                return (
                    <div class="group cursor-pointer">
                        <Image
                            src={item.image}
                            alt="me"
                            width={800}
                            height={200}
                            class="w-full rounded-2xl max-h-200 mt-5 object-cover transition-transform duration-300 group-hover:scale-[1.02] shadow-md"
                        />
                        <h2 class="font-bold text-xl md:text-2xl mt-3">
                            {item.title}
                        </h2>
                    </div>
                );
            })
        }
    </div>
</div>
