---
import { Image } from "astro:assets";
import me from "../../assets/me.png";

const projects = [
    {
        id: 1,
        image: "/t1.png",
        name: "Nazrul Isalm",
        role: "Software Engineer",
    },
    {
        id: 2,
        image: "/t2.png",
        name: "Nazrul Isalm",
        role: "Software Engineer",
    },
    {
        id: 3,
        image: "/t3.png",

        name: "Nazrul Isalm",
        role: "Software Engineer",
    },
    {
        id: 4,
        image: "/t1.png",
        name: "Nazrul Isalm",
        role: "Software Engineer",
    },
];
---

<div class="px-4 mb-10">
    <div class="flex flex-col items-center w-full">
        <p
            class="px-2 py-.5 mt-5 border-gray-400 font-medium rounded-3xl text-center border w-fit"
        >
            Our Team
        </p>
        <h1 class="mt-5 font-bold text-3xl md:text-5xl">Meet Expert Team</h1>
    </div>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-5 w-full">
        {
            projects.map((item) => {
                return (
                    <div class="group cursor-pointer border border-gray-300 rounded p-4 mt-7">
                        <div class="aspect-4/5 overflow-hidden rounded-xl">
                            <Image
                                src={item.image}
                                width={800}
                                height={1000}
                                alt={item.name}
                                class="w-full h-full object-cover transition-transform duration-300 group-hover:scale-[1.02] shadow-md"
                            />
                        </div>

                        <h2 class="mt-4">{item.name}</h2>
                        <p class="text-sm text-[#9A9A9A]">{item.role}</p>
                    </div>
                );
            })
        }
    </div>

    <div class="bg-white p-3 rounded-md shadow-2xl mt-10">
        <div class="flex justify-between bg-[#1A1A1A] p-10 rounded-lg pt-10">
            <div>
                <h1 class="text-white font-semibold text-2xl md:text-4xl">
                    Ready To Grow Your <br /> Business Digitally?
                </h1>
            </div>
            <div class="my-auto">
                <a
                    href="#book"
                    class="flex items-center gap-2 px-6 py-2 rounded-lg text-white bg-[linear-gradient(180deg,#7091FF_0%,#3363FF_100%)]! transition-transform active:scale-95"
                >
                    Book a Call
                    <svg
                        width="20"
                        height="20"
                        viewBox="0 0 24 24"
                        fill="none"
                        class="btn-icon"
                    >
                        <path
                            d="M7 17L17 7M17 7H7M17 7V17"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>
