<div class="px-4 mt-5 flex flex-col">
    <div>Masjidul</div>
    <div class="grid grid-cols-2 md:grid-cols-3">
        <div>
            <div>
                <h1>Contact</h1>
                <h1>You can contact me directly via Email or WhatsApp</h1>
            </div>

            <div>
                <h1>Gmail</h1>
                <h2>masjidulislam678@gmail.com</h2>
            </div>

            <div>
                <h1>WhatsApp/Telegram</h1>
                <h2>+8801875189361</h2>
            </div>
        </div>
        <div>
            <h1>(Explore)</h1>
            <ul>
                <li>About</li>
                <li>Works</li>
                <li>Experince</li>
                <li>Services</li>
                <li>Contact</li>
            </ul>
        </div>

        <div>
            <h1>(Social)</h1>
            <ul>
                <li>LinkedIn</li>
                <li>X/Twitter</li>
                <li>Instagram</li>
                <li>Facebook</li>
            </ul>
        </div>
    </div>
</div>
