---
import { Image } from "astro:assets";
---

<div class="mt-5 flex flex-col">
    <div
        class="text-center text-3xl md:text-[10rem] w-full p-10 border-b border-[#EBEBEB] flex items-center font-bold justify-center tracking-tighter"
    >
        <Image
            alt={"footer"}
            src={"/footer-logo.png"}
            width={800}
            height={200}
        />
    </div>

    <div class="grid grid-cols-2 px-4 md:grid-cols-3 pt-10 items-start">
        <div class="flex flex-col gap-6">
            <div>
                <h1 class="text-sm text-gray-500 font-medium">Contact</h1>
                <p class="text-lg font-semibold mt-1">
                    You can contact me directly via <span class="underline"
                        >Email</span
                    > or <span class="underline">WhatsApp</span>.
                </p>
            </div>

            <div>
                <h1 class="text-sm text-gray-500 font-medium italic">Gmail</h1>
                <h2 class="text-2xl font-bold tracking-tight">
                    masjidulislam678@gmail.com
                </h2>
            </div>

            <div>
                <h1 class="text-sm text-gray-500 font-medium italic">
                    WhatsApp / Telegram
                </h1>
                <h2 class="text-2xl font-bold tracking-tight">
                    +88 018 7518 9361
                </h2>
            </div>
        </div>

        <div class="flex flex-col items-end md:items-center">
            <ul class="text-left space-y-2 text-xl font-bold">
                <li class="hover:text-blue-600 cursor-pointer">About</li>
                <li class="hover:text-blue-600 cursor-pointer">Works</li>
                <li class="hover:text-blue-600 cursor-pointer">Experience</li>
                <li class="hover:text-blue-600 cursor-pointer">Services</li>
                <li class="hover:text-blue-600 cursor-pointer">Contact</li>
            </ul>
        </div>

        <div class="flex flex-col items-start mt-10 md:mt-0 md:items-end">
            <ul class="text-left space-y-2 text-xl font-bold">
                <li class="hover:text-blue-600 cursor-pointer">LinkedIn</li>
                <li class="hover:text-blue-600 cursor-pointer">X/ Twitter</li>
                <li class="hover:text-blue-600 cursor-pointer">Instagram</li>
                <li class="hover:text-blue-600 cursor-pointer">Facebook</li>
            </ul>
        </div>
    </div>
</div>
