---
type Props = {
    title?: string;
    description?: string;
};

const {
    title = "Masjidul | My Portfolio",
    description = "Portfolio website built with Astro",
} = Astro.props;

import "../styles/global.css";
import Navbar from "../components/navbar/Navbar.svelte";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content={description} />
        <title>{title}</title>
    </head>

    <body class="min-h-screen bg-[#F6F6F6] flex flex-col text-slate-900">
        <header
            class="sticky top-0 z-50 border-b border-[#EBEBEB] bg-[#F6F6F6]"
        >
            <div class="container mx-auto px-4">
                <Navbar client:load />
            </div>
        </header>

        <main class="container mx-auto border-x border-[#EBEBEB]">
            <slot />
        </main>

        <footer class="border-t border-gray-300 mt-auto">
            <div class="container mx-auto px-4 py-4 text-sm text-slate-600">
                © {new Date().getFullYear()} MyName
            </div>
        </footer>
    </body>
</html>
